* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gentium Book Plus", serif;
}

body {
  background-color: #1a171e;
  color: white;
}

.heading {
  letter-spacing: 3px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-weight: 300;
}
